#load-rss-btn {
    font-size: large;
    font-weight: normal;
    display: block;
    margin: 20px auto;
    margin-bottom: 60px;
}

.links-rss a::after {
    content: attr(data-popover);
    opacity: 0;
	visibility: hidden;
	transition: opacity 1s;
	background-color: #000;
	color: #fff;
	font-size: 15px;
	width: max-content;
	max-width: 500px;
	padding: 5px 10px;
	position: absolute;
    bottom: 150%;
    left: 0%;
	border-radius: 12px;
	box-shadow: 0 0px 15px 0px #000;
	animation: shake 50s ease-in-out 5s infinite;
}

.links-rss a:hover::after {
    opacity: 1;
    visibility: visible;
	transition: opacity .2s;
}

.links-rss p{
    margin-bottom:0;
}